/* welcome.php */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: linear-gradient(150deg, #d49f2eb8 65%, #1b149cc4 35%);
    height: 100vh;
    margin: 3px;
}

h1 {
    display: grid;
    place-items: center;
    color: rgb(20, 18, 147);
    font-size: clamp(40px, 4vw, 60px);
    margin-top: 1em;
}

.logout {
    display: inline-block;
    margin: 20px;
    background: #f4deb7a9;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    font-size: 18px;
}

p, 
h2 {
    display: grid;
    place-items: center;
    margin: auto;
    border-radius: 10px;
    font-size: 24px;
    font-size: clamp(23px, 2vw, 30px);
}

p {
    font-weight: 600;
    background-image: url(building.jpg);
    color: transparent;
    background-size: contain;
    background-position: center;
    background-clip: text;
    filter: brightness(40%);
    margin-top: 20px;
}

h2 {
    color: rgba(136, 66, 28, 0.721);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    max-width: 1000px;
}

li {
    list-style: none;
    background: #f4deb792;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
    font-size: clamp(15px, 2vw, 20px);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.logout:hover,
li:hover {
    transform: scale(103%);
    box-shadow: 0 0 15px #629bf1;
    transition: all 0.5s ease-in-out;
    color: rgba(21, 11, 114);
    background: #f4deb7;
}

a {
    text-decoration: none;
    color: rgba(21, 11, 114, 0.701);
    font-weight: 600;
}

.files {
    margin-bottom: 20px;
}