/* process_Login.php */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgb(228, 233, 237) 40%, aliceblue 60%);
    height: 50vh;
}

main {
    display: grid;
    place-content: center;
    place-items: center;
    background: #fff;
    max-width: fit-content;
    padding: 20px;
    margin: auto;
    margin-top: 9em;
    font-size: clamp(25px, 2vw, 40px);
    border-radius: 10px;
}

a {
    text-decoration: none;
    margin-top: 20px;
    background: red;
    color: azure;
    width:100%;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    transition: all 0.5s ease-in-out;
}

a:hover {
    transform: scale(103%);
    box-shadow: 0 0 15px #de5454;
    transition: all 0.5s ease-in-out;
}
